service: abstract-play-backend-crons

frameworkVersion: "3"

custom:
  scheduleEnabled:
    prod: true
    dev: false
  recbucket:
    prod: "records.abstractplay.com"
    dev: "records.abstractplay.com"
  renderBucketName: "thumbnails-prerender-${self:provider.stage}"
  dumpbucket: "abstractplay-db-dump"
  esbuild:
    tsconfig: "./tsconfig.json"
    bundle: true
    sourcemap: true
    format: "esm"
    outExtension:
      ".js": ".mjs"
    platform: "node"
    target: "node22"
    external:
      - "@abstractplay/renderer"
      - "@abstractplay/gameslib"
      - "@sparticuz/chromium"
      - "puppeteer-core"
      - "@aws-sdk/*"
      - "@smithy/*"
      - "sharp"
      - "buffer"
      - "fs"
  scriptable:
    hooks:
      before:package:createDeploymentArtifacts: npm run postinstall

params:
  dev:
    profile: AbstractPlayDev
    userpool: arn:aws:cognito-idp:us-east-1:153672715141:userpool/us-east-1_2zrzbEjoU
  prod:
    profile: AbstractPlayProd
    userpool: arn:aws:cognito-idp:us-east-1:153672715141:userpool/us-east-1_YCjgSZHJm

plugins:
  - serverless-esbuild
  - serverless-scriptable-plugin

provider:
  name: aws
  runtime: nodejs20.x
  versionFunctions: false
  stage: ${opt:stage, "dev"}
  profile: ${param:profile}
  region: us-east-1
  memorySize: 1024
  logs:
    retentionInDays: 30   # set to any valid retention period (1, 3, 5, 7, 14, 30, 60, 90, 120, 150, 180, 365, 400, 545, 731, 1827, 3653)
  environment:
    ABSTRACT_PLAY_TABLE: abstract-play-${self:provider.stage}
    userpool: ${param:userpool}
    SQS_URL: !Ref RenderQueue
    TOTP_KEY: ${env:TOTP_KEY}
    VAPID_PRIVATE_KEY: ${env:VAPID_PRIVATE_KEY}
    VAPID_PUBLIC_KEY: ${env:VAPID_PUBLIC_KEY}
    # TOTP_KEY: ${file(../apsecrets.yml):totp_key}
    # VAPID_PRIVATE_KEY: ${file(../apsecrets.yml):vapid_private_key}
    # VAPID_PUBLIC_KEY: ${file(../apsecrets.yml):vapid_public_key}
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
            - dynamodb:ExportTableToPointInTime
            - dynamodb:BatchWriteItem
            - sqs:SendMessage
            - ses:SendEmail
            - ses:SendRawEmail
            - cloudfront:CreateInvalidation
          Resource: "*"
        - Effect: "Allow"
          Action:
            - "s3:ListBucket"
          Resource:
            - "arn:aws:s3:::abstractplay-db-dump"
            - "arn:aws:s3:::records.abstractplay.com"
            - "arn:aws:s3:::${self:custom.renderBucketName}"
        - Effect: "Allow"
          Action:
            - "s3:GetObject"
          Resource:
            - "arn:aws:s3:::abstractplay-db-dump/*"
            - "arn:aws:s3:::${self:custom.renderBucketName}/*"
        - Effect: "Allow"
          Action:
            - "s3:PutObject"
          Resource:
            - "arn:aws:s3:::records.abstractplay.com/*"
            - "arn:aws:s3:::thumbnails.abstractplay.com/*"
            - "arn:aws:s3:::abstractplay-db-dump/*"
            - "arn:aws:s3:::${self:custom.renderBucketName}/*"
        - Effect: "Allow"
          Action:
            - "s3:DeleteObject"
          Resource:
            - "arn:aws:s3:::${self:custom.renderBucketName}/*"

resources:
  Resources:
    RenderQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: abstractplay-render-queue-${self:provider.stage}
        VisibilityTimeout: 900   # match your consumer Lambda timeout
        MessageRetentionPeriod: 86400  # 1 day, adjust as needed

  Outputs:
    RenderQueueArn:
      Value: !GetAtt RenderQueue.Arn
      Export:
        Name: RenderQueueArn-${self:provider.stage}
    RenderQueueUrl:
      Value: !Ref RenderQueue
      Export:
        Name: RenderQueueUrl-${self:provider.stage}

functions:
  thumbnails:
    handler: src/functions/thumbnails.handler
    description: Generates random thumbnails daily
    timeout: 300
    memorySize: 5120
    logRetentionInDays: 7
    environment:
      RENDER_BUCKET: ${self:custom.renderBucketName}
    events:
      - eventBridge:
          name: abstractplay-${self:provider.stage}-thumbnails
          description: Generates random thumbnails daily
          enabled: ${self:custom.scheduleEnabled.${self:provider.stage}}
          # 6am UTC daily (giving record generation plenty of time to complete)
          schedule: cron(0 6 * * ? *)

  s3-to-sqs:
    handler: src/functions/s3-to-sqs.handler
    description: Triggered when new objects are written to S3, pushes job info to SQS
    timeout: 30
    memorySize: 512
    logRetentionInDays: 7
    environment:
      TARGET_QUEUE_ARN: !GetAtt RenderQueue.Arn
      RENDER_BUCKET: ${self:custom.renderBucketName}
    events:
      - s3:
          bucket: ${self:custom.renderBucketName}
          existing: true
          event: s3:ObjectCreated:*

  sqs-to-render:
    handler: src/functions/sqs-to-render.handler
    description: Consumes SQS messages, renders SVG, writes to output bucket, deletes original
    timeout: 300
    memorySize: 2048
    logRetentionInDays: 7
    environment:
      RENDER_BUCKET: ${self:custom.renderBucketName}
    layers:
      - arn:aws:lambda:us-east-1:153672715141:layer:puppeteer:1
    events:
      - sqs:
          arn:
            Fn::GetAtt:
              - RenderQueue
              - Arn

  dumpdb:
    handler: src/functions/dumpdb.handler
    description: Triggers a full export of production DB to S3
    events:
      - eventBridge:
          name: abstractplay-${self:provider.stage}-dumpdb
          description: Triggers a full export of production DB to S3
          enabled: ${self:custom.scheduleEnabled.${self:provider.stage}}
          # midnight UTC every Sunday
          schedule: cron(0 0 * * ? *)

  records:
    handler: src/functions/records.handler
    description: Generates static lists of game records
    timeout: 900
    memorySize: 10240
    events:
      - eventBridge:
          name: abstractplay-${self:provider.stage}-records
          description: Generates static lists of game records
          enabled: ${self:custom.scheduleEnabled.${self:provider.stage}}
          # 3am UTC every sunday (giving the dump plenty of time to complete)
          schedule: cron(0 3 * * ? *)

  records-ttm:
    handler: src/functions/records-ttm.handler
    description: Generates static time-to-move results of each game
    timeout: 900
    memorySize: 10240
    events:
      - eventBridge:
          name: abstractplay-${self:provider.stage}-records-ttm
          description: Generates static time-to-move results of each game
          enabled: ${self:custom.scheduleEnabled.${self:provider.stage}}
          # 3am UTC every sunday (giving the dump plenty of time to complete)
          schedule: cron(0 3 * * ? *)

  records-move-times:
    handler: src/functions/records-move-times.handler
    description: Generates list of moves made in past 180 days
    timeout: 900
    memorySize: 10240
    events:
      - eventBridge:
          name: abstractplay-${self:provider.stage}-records-move-times
          description: Generates list of moves made in past 180 days
          enabled: ${self:custom.scheduleEnabled.${self:provider.stage}}
          # 3am UTC every sunday (giving the dump plenty of time to complete)
          schedule: cron(0 3 * * ? *)

  records-manifest:
    handler: src/functions/records-manifest.handler
    description: Generates manifest file for records bucket
    timeout: 900
    memorySize: 10240
    events:
      - eventBridge:
          name: abstractplay-${self:provider.stage}-records-manifest
          description: Generates static time-to-move results of each game
          enabled: ${self:custom.scheduleEnabled.${self:provider.stage}}
          # 4am UTC every sunday (giving the various records scripts time to complete)
          # then run again after summarize
          schedule: cron(0 4,7 * * ? *)

  summarize:
    handler: src/functions/summarize.handler
    description: Summarize generated game reports
    timeout: 60
    events:
      - eventBridge:
          name: abstractplay-${self:provider.stage}-summarize
          description: Summarize generated game reports
          enabled: ${self:custom.scheduleEnabled.${self:provider.stage}}
          # 6am UTC daily (giving plenty of time for the record generation to complete)
          schedule: cron(0 6 * * ? *)

package:
  patterns:
    - fonts/**
